Source: vyatta-bash
Section: base
Priority: optional
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Standards-Version: 4.7.2
Build-Depends: autoconf, autotools-dev, bison, libncurses5-dev,
 texinfo, texi2html, debhelper (>= 11), gettext, sharutils,
 locales <!nocheck>, time <!nocheck>,
 xz-utils,
Build-Depends-Indep: texlive-latex-base, ghostscript, texlive-fonts-recommended, man2html-base
Build-Conflicts: r-base-core
Rules-Requires-Root: binary-targets

Package: vyatta-bash
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${shlibs:Pre-Depends}, ${misc:Depends}
Depends: base-files (>= 2.1.12), debianutils (>= 5.6-0.1)
Section: shells
Priority: optional
Description: GNU Bourne Again SHell
 Bash is an sh-compatible command language interpreter that executes
 commands read from the standard input or from a file.  Bash also
 incorporates useful features from the Korn and C shells (ksh and csh).
 .
 Bash is ultimately intended to be a conformant implementation of the
 IEEE POSIX Shell and Tools specification (IEEE Working Group 1003.2).
 .
 The Programmable Completion Code, by Ian Macdonald, is now found in
 the bash-completion package.
