Source: vyatta-bash
Section: base
Priority: optional
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Standards-Version: 3.6.2
Build-Depends: autoconf, patch, bison, libncurses5-dev, texinfo, autotools-dev, 
	       debhelper (>= 4.1), texi2html, locales
Build-Depends-Indep: tetex-bin

Package: vyatta-bash
Architecture: any
Pre-Depends: ${shlibs:Pre-Depends}
Depends: base-files (>= 2.1.12), debianutils (>= 2.15), bash (>= 3.1)
Section: shells
Priority: optional
Description: The Vyatta Shell based on GNU bash
 The Vyatta Shell based on GNU Bourne Again SHell.
 .
 Bash is an sh-compatible command language interpreter that executes
 commands read from the standard input or from a file.  Bash also
 incorporates useful features from the Korn and C shells (ksh and csh).
 .
 Bash is ultimately intended to be a conformant implementation of the
 IEEE POSIX Shell and Tools specification (IEEE Working Group 1003.2).

